@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(30, 138, 132); */
}

.bg-green-100 {
  background-color: #d1fae5 !important;
}
.bg-opacity-60 {
  --tw-bg-opacity: 0.6 !important;
}
.bg-opacity-0 {
  --tw-bg-opacity: 0 !important;
}
.bg-yellow-600 {
  background-color: #d97708 !important;
}
.bg-red-600 {
  background-color: rgba(220, 38, 38) !important;
}
